@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Sans', sans-serif;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 3px;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: #2d3748;
    border-radius: 3px;
}

/* sidebar */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.sidebar {
    animation: slideIn 0.5s ease forwards;
}
.sidebar.hidden {
    animation: slideOut 0.5s ease forwards;
}
